<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chayen.cookingsupporter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginRegister"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount.RegisterPage"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name=".MainPage.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NavigationAndSearch.Search" />
        <activity android:name=".NavigationAndSearch.Category" />
        <activity android:name=".NavigationAndSearch.AddFoodMenu" />
        <activity android:name=".NavigationAndSearch.Profile" />
        <activity android:name=".FoodListAdapter.CookingRecipe"></activity>
    </application>

</manifest>